@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("original/MaterialSymbolsRounded.woff2") format("woff2");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("original/MaterialSymbolsOutlined.woff2") format("woff2");
}

@font-face {
    font-family: "Material Symbols Sharp";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("original/MaterialSymbolsSharp.woff2") format("woff2");
}

